<div class="row">
  <!--Searchbar Mobile-->
  <div class="mobile col-10 offset-1 mt-5 p-2">
    <div class="row p-2 rectangle-rounded align-items-center">
      <div class="col-1">
        <i class="bi bi-search f-large"></i>
      </div>
      <div class="col-11">
        <input
          type="text"
          class="input-search"
          placeholder="Dove vuoi andare "
        />
      </div>
    </div>
  </div>
  <!--Searchbar Desktop-->
  <div class="desktop col-8 offset-2 col-lg-6 offset-lg-3 p-2">
    <div class="row mt-2 pt-2 pb-2 search-rounded align-items-center">
      <div class="col-10 ml-auto text-left">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div class="col">
                <b class="f-small">Dove</b>
              </div>
            </div>
            <div class="row">
              <div class="col sub-text"><span>Dove vuoi andare?</span></div>
            </div>
          </div>
          <div class="col-4 border-left">
            <div class="row">
              <div class="col">
                <b class="f-small">Date Flessibili</b>
              </div>
            </div>
            <div class="row">
              <div class="col sub-text"><span>Anytime</span></div>
            </div>
          </div>
          <div class="col-4 border-left">
            <div class="row">
              <div class="col">
                <b class="f-small">Ospiti</b>
              </div>
            </div>
            <div class="row">
              <div class="col sub-text"><span>Aggiungi ospiti</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ml-auto">
        <div class="circular-btn float-right icon-center">
          <i class="bi-search text-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
