
#custom-header {
  font-size: medium;
}

.dark{
  color:black;
}

.light{
  color: white;
}


.rectangle-rounded {
  background-color: white;
  border-radius: 50px;
  color: #000000;
  max-width: 120px;
}