 <div>
    <div class="row">
      <div class="col-12">
        <img src={{boxChild.img}} *ngIf="boxChild.link" [routerLink]="[boxChild.link,boxChild.experience]" [class]="generateCustomClass()" alt="" />
        <img src={{boxChild.img}} *ngIf="!boxChild.link" [class]="generateCustomClass()" alt="" />
      </div>
      <div class="col-8 align-self-top">
        <div class="row text-left">
          <div class="col-12">
            <span class="title"> {{boxChild?.title}} </span>
          </div>
          <div class="col-12">
              <span> {{boxChild?.subtitle}} </span>
          </div>
        </div>
      </div>
    </div>
 </div>
