<div class="container-fluid p-0 m-0">
  <app-alert-text></app-alert-text>
  <div class="bg-image">
    <app-header></app-header>
    <app-searchbar></app-searchbar>
    <div class="row center-heading">
      <div class="col-10 offset-1 mt-sm-3">
        <h1 class="text-white">Vicino è Bello</h1>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-10 offset-1">
        <button class="btn btn-light button-rounded">
          Esplora i soggiorni nei dintorni
        </button>
      </div>
    </div>
  </div>
  <app-listdestinations></app-listdestinations>
  
  <br /><br /><br /><br />
</div>
