/* You can add global styles to this file, and also import other style files */

/*Font Class*/
* {
  font-family: "Airbnb Cereal App Light";
}

.bg-image {
  background-image: url("/assets/bg-airbnb.jpeg");
  overflow: hidden;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.container-rounded{
  border-radius: 12px;
}

.dark-layout{
  background-color: black;
  color: white;
}

.square-card{
  overflow: hidden;
  object-fit: cover;
  max-height: 320px;
}

.break-line{
  white-space: pre-line;
}

.airbnb-color{
  background-color: #ff375c;
}

.f-medium{
  font-family: "Airbnb Cereal App Medium";
  font-weight: normal;
}

.f-bold{
  font-family: "Airbnb Cereal App Bold";
  font-weight: bold;
}

.f-small {
  font-size: small;
}

.f-medium {
  font-size: medium;
}

.f-large {
  font-size: larger;
}

.f-xlarge {
  font-size: x-large;
}
/*End Font*/

.icon-grey {
  color: #a3a3a3;
}

.icon-center {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.wrapper-floating-card{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 1400px;

}
.floating-card{
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  border-radius: 12px;
}

.floating-fixed-card{
  position: fixed;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }

  .center-heading {
    margin-top: 30vh;
  }

  .sub-text {
    color: #a3a3a3;
    font-size: x-small;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .sub-text {
    color: #a3a3a3;
    font-size: small;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sub-text {
    color: #a3a3a3;
    font-size: small;
    overflow: hidden;
  }
}
