<div class="container-fluid p-0 m-0">
  <app-alert-text></app-alert-text>
  <div class="bg-image">
    <app-header [theme]="'light'" ></app-header>
    <app-searchbar></app-searchbar>
    <div class="row center-heading">
      <div class="col-10 offset-1 mt-sm-3">
        <h1 class="text-white">Vicino è Bello</h1>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-10 offset-1">
        <a class="btn btn-light container-rounded"  [routerLink]="['/experiences']" >
          Esplora i soggiorni nei dintorni
        </a>
      </div>
    </div>
  </div>


  <div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
      <div class="row">
        <div *ngFor="let _place of places" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3 mb-3">
          <app-inlinecard [routerLink]="['city',_place.id]" [place]="_place" ></app-inlinecard>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-12">
          <h2>Una casa ovunque nel mondo</h2>
        </div>
        <div *ngFor="let _box of boxTitles" class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3 mb-3">
          <app-box [boxChild]="_box"></app-box>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5 pt-5 pb-5 dark-layout">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-12">
          <h2>Una casa ovunque nel mondo</h2>
        </div>
        <div class="col-12">
          <h4>Attività uniche con esperti del luogo, di persona oppure online.</h4>
        </div>
        <div *ngFor="let _box of darkBoxTitles" class="col-12 col-sm-6 col-md-4 mt-3 mb-3">
          <app-box [boxChild]="_box"></app-box>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-12">
          <h2>Unisciti a milioni di host su Airbnb</h2>
        </div>
        <div *ngFor="let _box of whiteBoxTitles" class="col-12 col-sm-6 col-md-4 mt-3 mb-3">
          <app-box [boxChild]="_box"></app-box>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br /><br />
  </div>
