  <div class="col-12 m-1 mt-3 mb-3">
    <div class="row">
      <div class="col-auto">
        <img src="/assets/images/icon-card.jpg" class="image-card" alt="" />
      </div>
      <div class="col-auto align-self-top">
        <div class="row text-left">
          <div class="col-12">
            <span class="title">Orvieto</span>
          </div>
          <div class="col-12">
            <span class="subtext">2 ore in auto</span>
          </div>
        </div>
      </div>
    </div>
 </div>
